#!/usr/bin/make -f

build:
	dh build --with quilt --builddirectory=build/

%:
	dh $@ --with quilt --builddirectory=build/

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-silent-rules

override_dh_missing:
	dh_missing --fail-missing -X.la
